DJANGO_SECRET_KEY=your-secret-key
DEBUG=True

POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=your-db-host
POSTGRES_PORT=your-db-port

MAX_DB_CONN_RETRIES=your-db-conn-retries
DB_WAIT_SLEEP=your-time-sleep

CORS_ALLOW_ALL_ORIGINS=boolean

STATIC_URL=/static/

RECAPTCHA_PUBLIC_KEY=your_google_site_key_goes_here
RECAPTCHA_PRIVATE_KEY=your_google_secret_key_goes_here

EMAIL_THROTTLE_RATE =
EMAIL_THROTTLE_DURATION =

FRONTEND_URL =

ELASTIC_HOST=your-elastic-host
ELASTIC_PORT=your-elastic-port
ELASTIC_USERNAME=your-elastic-username
ELASTIC_PASSWORD=your-elastic-password

MONGO_DB_NAME=your-db-name
MONGO_INITDB_ROOT_USERNAME=your-mongodb-username
MONGO_INITDB_ROOT_PASSWORD=your-mongodb-password
MONGO_HOST=your-mongodb-host
MONGO_PORT=your-mongodb-port

ME_CONFIG_MONGODB_ADMINUSERNAME=your-mongodb-username (MONGO_INITDB_ROOT_USERNAME)
ME_CONFIG_MONGODB_ADMINPASSWORD=your-mongodb-password (MONGO_INITDB_ROOT_PASSWORD)
ME_CONFIG_BASICAUTH_USERNAME=your-mongo-express-username
ME_CONFIG_BASICAUTH_PASSWORD=your-mongo-express-password