DJANGO_SECRET_KEY = django-insecure-)twmlip%^(th&1x*b6thinyb(gbh=i)8unm@67*kx(6640jk@u
DEBUG = True

POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=your-db-host
POSTGRES_PORT=your-db-port

MAX_DB_CONN_RETRIES=your-db-conn-retries
DB_WAIT_SLEEP=your-time-sleep

CORS_ALLOW_ALL_ORIGINS=boolean

STATIC_URL=/static/