asgiref==3.10.0
astroid==4.0.1
black==25.9.0
certifi==2025.10.5
celery==5.4.0
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
dataclass-wizard==0.22.3
dill==0.4.0
distlib==0.4.0
Django==5.2.7
django-cors-headers==4.9.0
django-filter==25.2
django-phonenumber-field==8.3.0
django-redis==6.0.0
django-fsm==3.0.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-nested-routers==0.95.0
filelock==3.20.0
flake8==7.3.0
identify==2.6.15
idna==3.11
isort==7.0.0
mailhog==0.1.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
phonenumberslite==9.0.18
pillow==11.3.0
platformdirs==4.5.0
pre_commit==4.3.0
psycopg2-binary==2.9.11
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.10.1
pylint==4.0.2
python-dotenv==1.1.1
pytokens==0.2.0
PyYAML==6.0.3
redis==6.4.0
requests==2.32.5
requirements-parser==0.13.0
sqlparse==0.5.3
tomlkit==0.13.3
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.35.3
coverage==7.11.0
pytest==8.4.2
freezegun==1.5.5
drf-recaptcha==4.0.3
