{% extends 'base.html' %}

{% block title %}
  Password Reset Request
{% endblock %}

{% block content %}
  <div style="text-align: center">
    <h4>Hello, {{ user.first_name }}</h4>
    <p>We received a request to <strong>reset your password</strong>.</p>
    <p>
      To update your password, please <a href="{{ reset_link }}">click here</a>.
    </p>
    <p>This link will expire in <strong>{{ expiry_minutes }}</strong> minutes.</p>
    <p>If you did not request a password reset, you can safely ignore this email.</p>
  </div>
{% endblock %}
